*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    /* align-items: center; */
    justify-items: center;
}
h1{
    font-size: 4rem;
    margin: 1rem;
}
input{
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid blue;
    box-shadow: 0rem 0rem 1rem 0rem blue;
    margin: 1rem;
}
button{
    margin: 1rem;
    width: max-content;
    padding: 10px 30px;
    border: none;
    font-size: 1rem;
    background-color: green;
    color: white;
    border-radius: 10px;
}
p{
    color: red;
}